name: Huda-PRO-Ultimate-Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      # 1. تغيير الهوية برمجياً لكسر ذاكرة النسخة القديمة
      - run: flutter create . --org com.hudapro.final --project-name huda_pro_final --overwrite
      
      # 2. تحميل المكتبات
      - run: flutter pub get
      
      # 3. بناء ملف الـ APK
      - run: flutter build apk --release
      
      # 4. رفع الملف باسم جديد تماماً لتمييزه عن نسخة "الساعة 3"
      - uses: actions/upload-artifact@v4
        with:
          name: Huda-Pro-Ultimate-V26
          path: build/app/outputs/flutter-apk/app-release.apk
