name: Final Huda App
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      # هذا السطر سيقوم بإنشاء الملفات الناقصة تلقائياً
      - run: flutter create . --overwrite
      - run: flutter pub get
      - run: flutter build apk --release
      - uses: actions/upload-artifact@v4
        with:
          name: Huda-Final-App
          path: build/app/outputs/flutter-apk/app-release.apk
