name: Huda-Ultimate-Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      # تم تغيير المعرف ليكون (com.hudapro.v1) وهو اسم قانوني ومقبول
      - run: flutter create . --org com.hudapro.v1 --project-name huda_ultimate --overwrite
      - run: flutter pub get
      - run: flutter build apk --release
      
      - uses: actions/upload-artifact@v4
        with:
          name: Huda-PRO-Safe-Build-Feb8 # اسم جديد تماماً للملف
          path: build/app/outputs/flutter-apk/app-release.apk
