name: Huda-PRO-Final-Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      # تغيير الهوية البرمجية لضمان عدم التعارض مع النسخ القديمة
      - run: flutter create . --org com.hudapro.final --project-name huda_pro_final --overwrite
      - run: flutter pub get
      - run: flutter build apk --release
      
      - uses: actions/upload-artifact@v4
        with:
          name: Huda-Pro-V25-Success # اسم الملف الجديد تماماً
          path: build/app/outputs/flutter-apk/app-release.apk
