name: Huda-PRO-Ultimate-Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      # السر هنا: تغيير المعرف ليكون com.hudapro.final لتجنب أي تعارض
      - run: flutter create . --org com.hudapro.final --project-name huda_pro_v2 --overwrite
      - run: flutter pub get
      - run: flutter build apk --release
      
      - uses: actions/upload-artifact@v4
        with:
          name: Huda-Ultimate-Package-V27 # اسم جديد لتمييزه في التحميلات
          path: build/app/outputs/flutter-apk/app-release.apk
